<?xml version="1.0" encoding="UTF-8" ?>
<!--类型约束     Schema  dtd-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!--配置文件的根节点  ，一个xml中的根节点只能有一个 -->
    <environments default="mysql">  <!--环境：-->
        <environment id="mysql">
            <transactionManager type="JDBC"/>  <!--事务管理器：JDBC-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///y2169"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--关联小配置-->
    <mappers>
        <mapper resource="cn/mybatis/day01base/mapper/IMoiveDAOTest.xml"/>
    </mappers>
</configuration>