<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
     <!--目标对象-->
    <bean id="someService" class="cn.happy.day18aspectjxml.SomeService"></bean>
    <!--定义一个增强 通知 advice-->
    <bean id="myAspect" class="cn.happy.day18aspectjxml.MyAspect"></bean>
    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* *..day18aspectjxml.*.*(..))"></aop:pointcut>
        <aop:aspect ref="myAspect">
            <aop:before method="select" pointcut-ref="mypoint"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>













