<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="helloService" class="cn.happy.day01.HelloService" scope="prototype">
    <property name="info" value="Spring例子没成功便成仁"></property>
</bean>

    <!--墨盒-->
    <bean id="ink" class="cn.happy.day02print.ColorInk">
    </bean>

    <!--纸张-->
    <bean id="paper" class="cn.happy.day02print.A4Paper">
    </bean>

    <!--打印机-->
    <bean id="printer" class="cn.happy.day02print.Printer">
        <property name="ink" ref="ink"></property>
        <property name="paper" ref="paper"></property>
    </bean>

    <!--DAO-->
   <bean id="dao" class="cn.happy.day03aop.dao.UserDAOImpl"> </bean>
    <!--sercvice -->
   <bean id="service" class="cn.happy.day03aop.service.UserServiceImpl">
       <property name="userDAO" ref="dao"></property>
   </bean>

    <!--配置一个增强-->
    <bean id="UserAdvice" class="cn.happy.day03aop.advisor.MyBeforeAdvice"></bean>
    <!--aop 配置-->
    <aop:config>
        <aop:pointcut id="mycut" expression="execution(* *..service.*.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="UserAdvice" pointcut-ref="mycut"></aop:advisor>
    </aop:config>

    <bean id="car" class="cn.happy.day04xmldi.Car">
        <property name="color" value="红色"></property>
    </bean>
    <bean id="poser" class="cn.happy.day04xmldi.Poser">
        <property name="car" ref="car"></property>
    </bean>

</beans>













